.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: steelblue;
}

h2 {
  margin: 10px;
  color: lavender;
}

nav {
  text-align: right;
  border-bottom: 2px solid darkblue;
}

li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}

li a {
  border: 1px dotted lavender;
  padding: 5px;
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
  color: lavender;
}